{% extends "layout.html" %} 

{% block content %}
    <h1>About Page</h1>
    <p>Welcome to our Freelance Home Service Marketplace, where convenience meets quality. Our platform connects customers with skilled professionals offering a wide range of services, from home repairs to cleaning and more. Whether you need a quick fix, regular maintenance, or specialized assistance, our platform allows you to easily find trusted service providers in your area. Explore the services available, place an order, and get your home needs fulfilled with just a few clicks!</p>
{% endblock content %}
